@charset "UTF-8";

/* 共通部分
---------------------*/
html {
    font-size: 100%;
}
body {
    font-family: 'Hiragini Kaku Gothic ProN', "Hiragino Sans", "BIZ UDPGothic",sans-serif;
    line-height: 1.7;
    color: #432;;
}